<%- include('partials/header') %>

    <main class="access-point">

        <%- include('partials/nav') %>

        <form action="/login" method="post">
            <h2>Log In</h2>

            <% if(error) { %>
                <p style="color: red"><%= message %></p>
            <% } %> 

            <label for="">Email</label>
            <input type="email" name="email" id="" value="<%= user.email %>" required>
            <label for="">Password</label>
            <input type="password" name="password" id="" value="<%= user.password %>" required>
            <input type="submit" value="Log In">
            <p>Don't have an account? <a href="/signup">Create One</a></p>
        </form>


    </main>

<%- include('partials/footer') %>