<%- include('partials/header') %>

    <main>
        
        <%- include('partials/nav') %>

        <div class="container">
            <p>Welcome, <%= locals.username %></p>

            <% for(let tyd of tyds) { %>

                <% let username = tyd.fullname.split(' ')[0].toLowerCase() %>
                <% let avatar = Math.floor(Math.random() * 5) %>

                <div class="tyd">
                    <div id="upper">
                        <img src="/images/avatars/<%= `${avatar}.png` %>" alt="">
                        <div>
                            <h3>@<%= username %></h3>
                            <p><%= tyd.tyd %></p>
                        </div>
                    </div>
                    
                    <div id="lower">
                        <p><%= tyd.datePosted.toString().split(' ').slice(0, 5).join(' ') %></p>
                        <div>
                            <img src="/images/icons/heart.svg" alt="">
                            <span class="likes"><%= avatar + 15 %></span>
                        </div>
                    </div>                      
                </div>

            <% } %>
        </div>

    </main>

<%- include('partials/footer') %>